.lightMode {
    --clr-base: rgb(30, 144, 255);
    --clr-base-2: rgb(91, 173, 255);
    --clr-text: #030303;
    --clr-accent: #00bcf5;
    --clr-accent: #FD7E14;
    --clr-accent-bg: #FD7E1460;
    --clr-fake-bg-menu: #f2f2f290;
    --clr-shadow: #a0a0a0;
    --clr-black: #f2f2f2;
    --clr-no-color: transparent;
}